.container {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    display: flex;
}

.col-4 {
    flex-basis: 100% / 3;
}

.col-6 {
    flex-basis: 100% / 2;
}

.col-12 {
    flex-basis: 100%;
}